body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #1100, rgb(47, 129, 48)); /* Gradient background */
    display: flex;
    flex-direction: column; /* Stack content vertically */
 
    min-height: 100vh;
}