
      body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: radial-gradient(circle, #1100, rgb(47, 129, 48)); /* Gradient background */
            display: flex;
            flex-direction: column; /* Stack content vertically */
         
            min-height: 100vh;
        }

        /* Header Styles */
        .header-container {
           display: flex;
           align-items: center;
           justify-content: space-between;
           width: 100%;
           padding: 10px 20px;
           box-sizing: border-box; /*Include padding and border*/
            margin-bottom: 10px;
        }
        
         .logo-container {
            display: flex;
            align-items: center;
        }
        
        .logo {
            
            margin-right: 10px;
        }
        
        .home-button-container {
            text-align: center;
            flex-grow: 1;
            display: flex;
           justify-content: center;
        }

        .home-button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        /* Payment form container */
       .payment-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 440px; /* Widened the box 1.1 times from 400*/
            margin-top: 20px; /* shift down*/
        }
          .payment-form-wrapper {
            width: 100%;
            box-sizing: border-box; /* Include padding and border*/
        }

        /* Individual form fields */
        .form-group {
            margin-bottom: 15px;
        }

         label {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            color: #333;
        }

        input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
             font-size: 14px;
              color: #000;
        }

        /* Proceed button */
         button {
            width: 100%;
            padding: 10px;
            background-color: rgb(47, 129, 48);
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
             transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #3a9b3d;
        }
        /* Messages for the user */
        .success-message {
            color: green;
            margin-top: 10px;
            text-align: center;
        }
         .error-message {
            color: red;
            font-size: 14px;
            margin-top: 15px;
            text-align: center;
        }
    