body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(#1100,rgb(47, 129, 48));
    color: #333;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100px;
}

.header .home-button {
    position: absolute;
    top: calc(10vh + 10%);
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh; 
}

.form-section h2 {
    color: black;
    border-left: 3px solid black;
    padding-left: 10px;
}

.container {
    max-width: 1400px; 
    padding: 30px; 
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.form-section {
    flex: 1;
    padding: 20px;
    min-width: 400px; 
}

.info-section {
    flex: 1;
    padding: 20px;
    min-width: 400px; 
    margin-left: 20px; 
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-group textarea {
    resize: none;
}

.form-group button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #45a049;
}

.info-section ul {
    list-style: none;
    padding: 0;
}

.info-section ul li {
    margin-bottom: 10px;
}

.info-section ul li span {
    font-weight: bold;
}

 